<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
<<<<<<< HEAD
    <link rel="stylesheet" href="/css/main.css">
</head>
=======
    <link rel="stylesheet" href="/css/main.css">
>>>>>>> c9ebd50d1253976d873a52fc52dfaac1358802fd
