.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
<<<<<<< HEAD
=======
    display: block;
>>>>>>> c9ebd50d1253976d873a52fc52dfaac1358802fd
}

.product-item {
    width: 20rem;
    max-width: 95%;
<<<<<<< HEAD
=======
    margin: 1rem;
>>>>>>> c9ebd50d1253976d873a52fc52dfaac1358802fd
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}